In [1]:
import numpy as np

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [38]:
df = pd.read_csv("data/titanic.csv", index_col="PassengerId")
df.drop(columns=['Name', 'Ticket', 'Age', 'Cabin',], inplace=True)

In [39]:
df.head()

             Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male      1      0   7.2500        S
2                   1       1  female      1      0  71.2833        C
3                   1       3  female      0      0   7.9250        S
4                   1       1  female      1      0  53.1000        S
5                   0       3    male      0      0   8.0500        S

In [40]:
X = df.drop(columns='Survived')
y = df.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 6), (179, 6), (712,), (179,))

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.naive_bayes import GaussianNB

In [42]:
numerical_pepeline = Pipeline([
    ("imputer", SimpleImputer(strategy="mean")),
    ("scaler", StandardScaler())
])
categorical_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder())
])

In [43]:
from sklearn.compose import ColumnTransformer

In [45]:
preprocessor = ColumnTransformer([
    ("numerical", numerical_pepeline, ["SibSp", "Fare", "Parch"]),
    ("categoric", categorical_pipeline, ["Pclass", "Sex", "Embarked"])
])

### Pipeline

In [46]:
pipeline = Pipeline([
    ("prep", preprocessor),
    ("algo", GaussianNB())
])

In [47]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('prep',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['SibSp', 'Fare', 'Parch']),
                                                 ('categoric',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder())]),
                                                  ['Pclass', 'Sex',
                                                   'Embarked'])])),
                ('algo', GaussianNB())])

In [48]:
pipeline.score(X_test, y_test)

0.7877094972067039